<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configure the Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} - %msg%n</pattern>for debug purpose
        </encoder>
    </appender>

    <logger name="akka" level="ERROR"/>
    <logger name="akka.http" level="ERROR"/>
    <logger name="akka.stream" level="ERROR"/>
    <logger name="akka.stream.alpakka.sqs" level="DEBUG"/>
    <logger name="stream" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
